.h3{
  text-decoration: underline;
  font-weight: 400;
  font-family: sans-serif;
  font-style:oblique;

}
.h4{
  text-decoration: underline;
  font-family: sans-serif;
  font-weight:normal;
  font-style:oblique;
}
.a{
  font-size: 20px;
  font-style: italic;
}
.contentdiv{
  background-color: #E1CEB1;
  padding: 20px;
  text-align:justify;
  margin: 0 auto;
  border-style: ridge;
  border-radius:25px;
  width: 75%;

}
.projects{
  text-align: center;
  border:1px solid gray;
  border-width: thick;
  background-color:#D9853B;

}
